@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'Organetto';
      src: url(./conponents/fonts/organetto-ultrabold-semiexp.ttf) format('truetype');
    }
  }

@layer base {
    @font-face {
      font-family: 'Mandatory';
      src: url(./conponents/fonts/Mandatory.otf) format('otf');
    }
  }
@layer base {
    @font-face {
      font-family: 'Kajiro';
      src: url(./conponents/fonts/Kajiro.ttf) format('truetype');
    }
  }
@layer base {
    @font-face {
      font-family: 'Crotah';
      src: url(./conponents/fonts/CrotahFreeVersionItalic-z8Ev3.ttf) format('truetype');
    }
  }

